* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: currentColor;
}

menu, ol, ul, li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

select {
    border: none;
    padding: 10px;
}
